@import './../../../scss/colors.scss';
@import './../../../scss/fonts.scss';
@import './../../../scss/boxing.scss';

.header {
    background-color: $accent;
    color: white;
    font-size: calcRem(22px);
    padding: #{getPadding(2)} #{getPadding(3)}
}