<div class="ideas-generator c">
    <div class="title">{{ls.getMessage('generatorTitle')}}:</div>
    <div class="fetched-idea mt2">{{fetchedIdea}}</div>
    <div class="mt2 r w">
        <app-btn class="mr1" type="primary" [disabled]="disabled" (btnClick)="onFetchIdea()"
            [value]="ls.getMessage('getAnotherOne')">
        </app-btn>
        <app-btn type="secondary" [disabled]="disabled" (btnClick)="onCollectIdea()"
            [value]="ls.getMessage('collect')">
        </app-btn>
    </div>
</div>