@import './../../../scss/fonts';
@import './../../../scss/colors';
@import './../../../scss/boxing';

.title {
    font-size: fontSize(34px);
    color: $dark;
}

.fetched-idea {
    font-family: 'roboto-regular';
    color: $accentSoft;
    font-size: fontSize(21px);
    @include border($lightGrey);
    padding: 0.9rem;
}