@import './../../../scss/fonts';
@import './../../../scss/colors';

.title {
    font-size: fontSize(34px);
    color: $dark;
}

.fetched-idea {
    font-family: 'roboto-regular';
    color: #8b8eb9;
    font-size: fontSize(21px);
    border: 1px solid #cecece;
    padding: 0.9rem;
    border-radius: 8px;
}