@import './../../../scss/boxing.scss';
@import './../../../scss/colors.scss';
@import './../../../scss/fonts.scss';
@import './../../../scss/animations.scss';

.idea-item  {
    @include bottomLine($lightGrey);
    color: $dark;
    transition: $globalTransition;
    border-radius: 6px;
    transform: translateX(-#{getPadding(1)});
    &:hover {
        cursor: pointer;
        background-color: $accentSoftest;
        box-shadow: none;
    }
}

.idea-title {
    font-size: fontSize(18px);
}

.idea-description {
    font-size: fontSize(14px);
    color: $grey;
    line-height: 1.2rem;
}