@import './../../../scss/boxing.scss';
@import './../../../scss/colors.scss';
@import './../../../scss/fonts.scss';
@import './../../../scss/animations.scss';

.my-ideas-list {
}

.idea-item  {
    @include bottomLine($lightGrey);
    color: $dark;
    transition: $globalTransition;
    border-radius: 6px;
    transform: translate(-#{getPadding(1)}, -#{getPadding(1)});
    position: relative;
    &:hover {
        cursor: pointer;
        background-color: $accentSoftest;
        box-shadow: none;
        .remove-icon {
            opacity: 0.7;
            &:hover {
                opacity: 1;
                font-family: 'roboto-bold'
            }
        }
    }
}

.idea-title, .idea-description {
    word-break: break-word;
}

.idea-title {
    font-size: calcRem(18px);
    padding-right: 0.7rem;
}

.idea-description {
    font-size: calcRem(14px);
    color: $grey;
    line-height: 1.2rem;
    margin-top: 0.3rem;
}

.remove-icon {
    position: absolute;
    top: 0.2rem;
    right: 0.6rem;
    color: $red;
    opacity: 0;
}