$accent: #767eea;
$accentSoft: #8b8eb9;
$accentSoftest: #eeefff;
$accentBorder: #acb1ec;

$opposit1: #32fb31;
$opposit2: #ba2323;

$dark: #353535;
$grey: #898989;
$lightGrey: #efefef;
$bg: #f1f2ff;

$red: #c96969;